$uguWhite: #ffffff;
$uguPurple: #1a1e3d;
$uguLightLightGrey: #f6f6f6;
$uguLightGrey: #d8d8d8;
$uguGrey: #a0a0a0;
$uguDarkGrey: #979797;
$uguRed: #c7424f;
$uguGreen: #4dad9b;
$uguYellow: #e9b735;
$uguBlue: #6bb5c9;
$uguLightBlue: #d9e8ec;
$uguLightLightBlue: #e8f4f8;
$uguLightYellow: #f3e9d0;
